.powerball-header {
	color: #38A842;
}

.ball {
	border: 2px solid #2B8DD6;
}

.ball.powerballs {
   color: #38A842;
   border: 2px solid #38A842;
}
.ball.powerballs.selected {
	border: 2px solid #38A842;
	background: #CCEED1;
}

.ball.selected {
	background: #D8E7FE;
}

.ball.power-ball {
	color: #38A842;
	border: 2px solid #38A842;
	vertical-align: top;
}
