.powerball-header {
	color: #3F51B5 ;
}

.ball {
	border: 2px solid #3F51B5;
}

.ball.powerballs {
   color: #3D3916;
   border: 2px solid #CECE00;
}
.ball.powerballs.selected {
	border: 2px solid #CECE00;
	background: #EFE9A0;
}

.ball.selected {
	background: #D1D6ED;
}

.ball.power-ball {
	color: #3D3916;
	border: 2px solid #CECE00;
	vertical-align: top;
}
