.powerball-header {
	color: #38A842;
}

.ball {
	border: 2px solid #f8de00;
	color: #39A949;

}

.ball.powerballs {
   color: #3D3916;
   border: 2px solid #CECE00;
}
.ball.powerballs.selected {
	border: 2px solid #f8de00;
	background: #f9e960;
}

.ball.selected {
	background: #FFFEC1;
}

.ball.power-ball {
	color: #3D3916;
	border: 2px solid #CECE00;
	vertical-align: top;
}
