.powerball-header {
	color: #38A842;
}

.ball {
	border: 2px solid #39A949;
	color: #39A949;
	
}

.ball.powerballs {
   color: #3D3916;
   border: 2px solid #CECE00;
}
.ball.powerballs.selected {
	border: 2px solid #CECE00;
	background: #FFF46A;
}

.ball.selected {
	background: #FFF46A;
}

.ball.power-ball {
	color: #3D3916;
	border: 2px solid #CECE00;
	vertical-align: top;
}
