.powerball-header {
	color: #FF9900;
}

.ball {
	border: 2px solid #38A842;
}

.ball.powerballs {
   color: #3D3916;
   border: 2px solid #CECE00;
}
.ball.powerballs.selected {
	border: 2px solid #CECE00;
	background: #EFE9A0;
}

.ball.selected {
	background: #fff0c2;
}

.ball.power-ball {
	color: #3D3916;
	border: 2px solid #CECE00;
	vertical-align: top;
}
