<div class="main-nav" menu-nav>
	<header class="header">
		<md-button class="md-icon-button toggle-menu" title="Toggle Menu" aria-label="Toggle Menu" ng-click="toggle()">
			<md-icon md-svg-icon="img/icons/ic_menu_24px.svg"></md-icon>
		</md-button>
	</header>
	<ul class="ac-gn-list">
		<li class="ac-gn-item ac-gn-item-menu">
			<a  href="javascript:">
				<span class="ac-gn-link-text">
					<img src="img/temp1.png" class="game-icon">
					<span class="title">EuroMillions</span>
				</span>
			</a>
		</li>
		<li class="ac-gn-item ac-gn-item-menu">
			<a  href="javascript:">
				<span class="ac-gn-link-text">
					<img src="img/temp2.png" class="game-icon">
					<span class="title">Powerball</span>
				</span>
			</a>
		</li>
		<li class="ac-gn-item ac-gn-item-menu">
			<a  href="javascript:">
				<span class="ac-gn-link-text">
					<img src="img/temp3.png" class="game-icon">
					<span class="title">More Lotteries</span>
				</span>
			</a>
		</li>
	</ul>
</div>


<md-card layout-margin layout-align="center" class="panel-padded offset-bottom main-panel">
	<div layout="row"  class="top-header">
	  <div flex layout="row" layout-align="start center" class="powerball-header">Powerball</div>
	  <div flex layout="row" layout-align="end center" class="balance-header">Line 1 of 6</div>
	</div> 

	<md-list class="tickets-group">
		<md-list-item  ng-style="{padding: 0}">
			<div flex layout="row" class="bet selected-bets first-row slide">
			
				<span class="ball" ng-repeat="cell in tkt.getSelectedTicket().numbers|filter: {selected: true}">{{cell.number}}</span>
				<span class="ball" ng-repeat="i in tkt.getEmptySlotsArray(tkt.getSelectedTicket()) track by $index"></span>
				<span class="ball power-ball" ng-repeat="cell in tkt.getSelectedTicket().extraNumbers|filter: {selected: true}">{{cell.number}}</span>

				<div ng-if="tkt.getNumSelected(tkt.getSelectedTicket())>tkt.defNumSelected" class="selected-text">
					{{tkt.getSystem(tkt.getSelectedTicket()).name}} ({{tkt.getSystem(tkt.getSelectedTicket()).numLines}} lines)
				</div>
			</div>
		</md-list-item>
	</md-list>


	<div class="number-slots top-group">
	    <span class="ball" ng-class="{'selected' : cell.selected, 'disabled': !cell.selected && !tkt.canSelect(tkt.getSelectedTicket())}" id="cbBet{{$index}}}" ng-repeat="cell in tkt.getSelectedTicket().numbers" tap-click >
		  <input
			type="checkbox"
			ng-click="tkt.selectCell(cell)"
			ng-disabled = "!cell.selected && !tkt.canSelect(tkt.getSelectedTicket())" id="cbBet{{$index}}"
		  > 	
			<label for="cbBet{{$index}}">{{cell.number}}</label>
		</span>
	</div>

	<div class="number-slots">
		<p>
			<span class="md-caption" ng-if="tkt.getNumSelected(tkt.getSelectedTicket())==tkt.defNumSelected">Pick more than 5 to play a combo bet and boost your odds</span><br>
			<label class="label-md">Pick 1 Powerball</label>
		</p>
		<span class="ball powerballs" ng-class="{'selected' : cell.selected, 'disabled': !cell.selected && !tkt.canSelectExtraNumber(tkt.getSelectedTicket())}" id="ebBet{{$index}}}" ng-repeat="cell in tkt.getSelectedTicket().extraNumbers" tap-click>
		     <input
				type="checkbox"
				ng-disabled = "!cell.selected && !tkt.canSelectExtraNumber(tkt.getSelectedTicket())" id="ebBet{{$index}}"
				ng-click="tkt.selectCell(cell)"
			  > 	
			<label for="ebBet{{$index}}">{{cell.number}}</label>
		</span>
	</div>

<!-- 
	<div layout-margin>
		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm>
				<label>Powerball</label>
				<md-select ng-model="tkt.getSelectedTicket().powerBall">
					<md-option ng-repeat="num in tkt.powerBalls" value="{{num}}">
					{{num}}
					</md-option>
				</md-select>
			</md-input-container>
		</div>

		<p class="md-caption" ng-if="tkt.getNumSelected(tkt.getSelectedTicket())==tkt.defNumSelected" style="color: #888888">
			Select more numbers to play a combo bet and boost your odds
		</p>
	</div> -->


	<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
		<!-- <md-button class="md-raised" ng-click="tkt.commitTicket()" ng-disabled="tkt.getNumSelected(tkt.getSelectedTicket())<tkt.minSelected || tkt.getSelectedTicket().powerBall==''">OK</md-button> -->
		<md-button class="md-raised btn-sm" ng-click="tkt.cancelTicketChanges()">Cancel</md-button>
		<md-button class="md-raised btn-sm" ng-click="tkt.commitTicket()">Done</md-button>
	</section>
</md-card>
