<md-card layout-margin layout-align="center" class="panel-padded offset-bottom">
	<div layout="row"  class="top-header">
	  <div flex layout="row" layout-align="start center" class="powerball-header">Powerball</div>
	  <div flex layout="row" layout-align="end center" class="balance-header">Line 1 of 6</div>
	</div> 

	<md-list class="tickets-group">
		<md-list-item  ng-style="{padding: 0}">
			<div flex layout="row" class="bet selected-bets first-row slide">
			
				<span class="ball" ng-repeat="cell in tkt.getSelectedTicket().numbers|filter: {selected: true}">{{cell.number}}</span>
				<span class="ball" ng-repeat="i in tkt.getEmptySlotsArray(tkt.getSelectedTicket()) track by $index"></span>
				<span class="ball power-ball">{{tkt.getSelectedTicket().powerBall}}</span>

				<div ng-if="tkt.getNumSelected(tkt.getSelectedTicket())>tkt.defNumSelected" class="selected-text">
					{{tkt.getSystem(tkt.getSelectedTicket()).name}} ({{tkt.getSystem(tkt.getSelectedTicket()).numLines}} lines)
				</div>
			</div>
		</md-list-item>
	</md-list>


	<div class="number-slots">
	    <span class="ball" ng-class="{'selected' : cell.selected, 'disabled': !cell.selected && !tkt.canSelect(tkt.getSelectedTicket())}" id="cbBet{{$index}}}" ng-repeat="cell in tkt.getSelectedTicket().numbers" tap-click ng-click="tkt.selectCell(cell)">
		  <input
			type="checkbox"
			ng-model="cell.selected"
			ng-disabled = "!cell.selected && !tkt.canSelect(tkt.getSelectedTicket())" id="cbBet{{$index}}"
		  > 	
			<label for="cbBet{{$index}}">{{cell.number}}</label>
		</span>
	</div>

	<div class="number-slots">
		<p>
			PowerBall<br>
			<span class="md-caption">Pick 1 Powerball</span><br>
			<span class="md-caption" ng-if="tkt.getNumSelected(tkt.getSelectedTicket())==tkt.defNumSelected">Pick more than 5 to play a combo bet and boost your odds</span>
		</p>
		
	    <span class="ball" ng-repeat="num in tkt.powerBalls" tap-click ng-click="tkt.selectPowerBall(num)" ng-class="{'selected' : tkt.getSelectedTicket().powerBall == num}">
		     <input type="checkbox" ng-model="tkt.getSelectedTicket().powerBall"> 	
			<label for="cbBet{{$index}}">{{num}}</label>
		</span>
	</div>

<!-- 
	<div layout-margin>
		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm>
				<label>Powerball</label>
				<md-select ng-model="tkt.getSelectedTicket().powerBall">
					<md-option ng-repeat="num in tkt.powerBalls" value="{{num}}">
					{{num}}
					</md-option>
				</md-select>
			</md-input-container>
		</div>

		<p class="md-caption" ng-if="tkt.getNumSelected(tkt.getSelectedTicket())==tkt.defNumSelected" style="color: #888888">
			Select more numbers to play a combo bet and boost your odds
		</p>
	</div> -->


	<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
		<!-- <md-button class="md-raised" ng-click="tkt.commitTicket()" ng-disabled="tkt.getNumSelected(tkt.getSelectedTicket())<tkt.minSelected || tkt.getSelectedTicket().powerBall==''">OK</md-button> -->
		<md-button class="md-raised" ng-click="tkt.commitTicket()">OK</md-button>
		<md-button class="md-raised" ng-click="tkt.cancelTicketChanges()">Cancel</md-button>
	</section>
</md-card>
