<div>

	<ul>
	<md-card layout="row" layout-align="center center">
		<div style="padding:5px" ng-repeat="cell in tkt.getSelectedTicket().numbers|filter: {selected: true}">
		  {{cell.number}}
		</div>
		<div style="padding:5px; color: red">
		  {{tkt.getSelectedTicket().powerBall}}
		</div>
	</md-card>
	    <label ng-repeat="cell in tkt.getSelectedTicket().numbers">
		  <input
		    type="checkbox"
		    ng-model="cell.selected"
		  > {{cell.number}}
		</label>
		<br/>
		<md-input-container class="md-block" flex-gt-sm>
            <label>Powerball</label>
            <md-select ng-model="tkt.getSelectedTicket().powerBall">
              <md-option ng-repeat="num in tkt.numbers" value="{{num}}">
                {{num}}
              </md-option>
            </md-select>
          </md-input-container>
	</ul>
	<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
		<md-button class="md-raised" ng-click="tkt.commitTicket()">OK</md-button>
		<md-button class="md-raised" ng-click="tkt.cancelTicketChanges()">Cancel</md-button>
	</section>
</div>