<md-card layout-margin layout-align="center" class="panel-padded offset-bottom">
	<div layout="row" class="top-header">
	  <div flex layout="row" layout-align="start center" class="powerball-header">Powerball</div>
	  <div flex layout="row" layout-align="end center" class="balance-header">{{tkt.defaultCurrencySymbol}}345 million</div>
	</div>  
	<md-list class="tickets-group">
		<md-list-item ng-repeat="ticket in tkt.tickets" ng-style="{padding: 0}">
			<div flex layout="row" class="bet selected-bets" ng-click="tkt.editTicket($index)" ng-class="{'first-row': $index == 0}" ticket-animate>
				<div class="col-11" >
					<span class="ball" ng-repeat="cell in ticket.numbers|filter: {selected: true}">{{cell.number}}</span>
					<span class="ball" ng-repeat="i in tkt.getEmptySlotsArray(ticket) track by $index"></span>
					<span class="ball power-ball">{{ticket.powerBall}}</span>
					<span class="action right">
						<md-button class="md-icon-button bet-action" ng-click = "tkt.deleteTicket($index)" title="Delete Ticket" aria-label="Delete ticket">
							<md-icon md-svg-icon="img/icons/ios_delete.svg"></md-icon>
						</md-button>
					</span>
				</div>
				<div ng-if="tkt.getNumSelected(ticket)>tkt.defNumSelected" class="selected-text">{{tkt.getSystem(ticket).name}} ({{tkt.getSystem(ticket).numLines}} lines)</div>
			</div>
		</md-list-item>
	</md-list>
	<div layout="row" layout-margin layout-align="center center" layout-wrap ng-if="tkt.canAddTicket" class="quickpick-box">
		<md-button class="md-raised" ng-click="tkt.addTicket(false)" aria-label="Add Ticket">
			<md-icon md-svg-icon="img/icons/ic_add_black_24px.svg" class="md-icon-light"></md-icon>
		</md-button>
		<md-button class="md-raised" ng-click="tkt.addTicket(true)" aria-label="Add QuickPick">QuickPick</md-button>
	</div>

	
	<div layout="row" layout-align="space-between center md-row" class="md-row">
		<label class="label-md">Powerplay</label>
		<md-checkbox  ng-model="tkt.powerPlay" aria-label="PowerPlay"></md-checkbox>
	</div>

	<div layout="row" layout-align="space-between center" class="draw-group md-row">
		<label class="label-md">Draw</label>
		<section layout="row" layout-align="end center">
		  <md-button class="groupX" ng-repeat="num in tkt.draws" ng-class="{'left': $index == 0, 'middle': $index > 0,  'right': $index >= tkt.draws.length - 1, 'active-highlight' : tkt.selectedDraw == num}" ng-click="tkt.selectDraw(num)">{{num}}</md-button>
		</section>
	</div>

	<div layout="row" layout-align="space-between center" class="duration-group md-row">
		<label class="label-md">Duration</label>
		<section layout="row" layout-align="end center">
		  <md-button class="groupX" ng-repeat="num in tkt.durations" ng-class="{'left': $index == 0, 'middle': ($index > 0 && $index < tkt.draws.length),  'right': $index >= tkt.draws.length, 'active-highlight' : tkt.duration == num}" ng-click="tkt.selectDuration(num)">{{num}}</md-button>
		</section>
	</div>
	
	<div  layout="row" layout-align="end center" class="md-row">
		<span class="md-caption">{{tkt.durationString}} from {{tkt.getFirstDrawDate()}}</span>
	</div>

	<div layout="row" layout-align="space-between center" class="md-row">
		<label class="label-md">Subscribe</label>
		<md-checkbox  ng-model="tkt.subscribe" aria-label="Subscribe"></md-checkbox>
	</div>

	<div layout="row" layout-align="end center" class="stake-group">
		<label class="label-md">Stake: £0.00</label>
	</div>

	<div layout="row" layout-align="center center" class="md-no-pad">
		<md-button class="md-raised md-button-block">
			Buy
		</md-button>
	</div>

	<!-- <div>
		<div layout-gt-sm="row">
			<md-input-container class="md-block" flex-gt-sm>
				<label>Draw</label>
				<md-select ng-model="tkt.selectedDraw">
					<md-option ng-repeat="num in tkt.draws" value="{{num}}">
					{{num}}
					</md-option>
				</md-select>
			</md-input-container>

			<md-input-container class="md-block" flex-gt-sm>
				<label>Duration</label>
				<md-select ng-model="tkt.duration">
					<md-option ng-repeat="num in tkt.durations" value="{{num}}">
					{{num}}
					</md-option>
				</md-select>
			</md-input-container>

			<div layout-margin layout="row" layout-align="end center">
				<p class="md-caption">{{tkt.durationString}} from {{tkt.getFirstDrawDate()}}</p>
			</div>

		</div>
		

		<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
			<md-button class="md-raised md-button-block">
				Buy
			</md-button>
		</section>
	</div> -->
</md-card>  
