<div class="main-nav" menu-nav>
	<header class="header">
		<label class="ac-gn-menuicon-label"  ng-click="toggle()">
			<span class="ac-gn-menuicon-bread ac-gn-menuicon-bread-top">
				<span class="ac-gn-menuicon-bread-crust ac-gn-menuicon-bread-crust-top"></span>
			</span>
			<span class="ac-gn-menuicon-bread ac-gn-menuicon-bread-bottom">
				<span class="ac-gn-menuicon-bread-crust ac-gn-menuicon-bread-crust-bottom"></span>
			</span>
		</label>

		

		<ng-md-icon icon="home" size="48" class="home" ng-click="linkTo('/')">
			<img src="img/user2.svg" class="homesvg">
		</ng-md-icon>
	</header>
	<ul class="ac-gn-list">
		<li class="ac-gn-item ac-gn-item-menu">
			<a  href="http://demo.trimarkgaming.com/games/lottostore/euromillions/#/">
				<span class="ac-gn-link-text">
					<img src="img/temp1.png" class="game-icon">
					<span class="title">EuroMillions</span>
				</span>
			</a>
		</li>
		<li class="ac-gn-item ac-gn-item-menu">
			<a  href="javascript:">
				<span class="ac-gn-link-text">
					<img src="img/temp4.png" class="game-icon">
					<span class="title">Powerball</span>
				</span>
			</a>
		</li>
		<li class="ac-gn-item ac-gn-item-menu">
			<a  href="javascript:"   ng-click="linkTo('lotteries')">
				<span class="ac-gn-link-text">
					<img src="img/temp5.png" class="game-icon">
					<span class="title">More Lotteries</span>
				</span>
			</a>
		</li>
	</ul>
</div>
