<div class="main-nav" menu-nav>
	<header class="header">
		<!-- <md-button class="md-icon-button toggle-menu" title="Toggle Menu" aria-label="Toggle Menu" ng-click="toggle()">
			<md-icon md-svg-icon="img/icons/ic_menu_24px.svg"></md-icon>
		</md-button> -->

		<label class="ac-gn-menuicon-label"  ng-click="toggle()">
			<span class="ac-gn-menuicon-bread ac-gn-menuicon-bread-top">
				<span class="ac-gn-menuicon-bread-crust ac-gn-menuicon-bread-crust-top"></span>
			</span>
			<span class="ac-gn-menuicon-bread ac-gn-menuicon-bread-bottom">
				<span class="ac-gn-menuicon-bread-crust ac-gn-menuicon-bread-crust-bottom"></span>
			</span>
		</label>
	</header>
	<ul class="ac-gn-list">
		<li class="ac-gn-item ac-gn-item-menu">
			<a  href="javascript:">
				<span class="ac-gn-link-text">
					<img src="img/temp1.png" class="game-icon">
					<span class="title">EuroMillions</span>
				</span>
			</a>
		</li>
		<li class="ac-gn-item ac-gn-item-menu">
			<a  href="javascript:">
				<span class="ac-gn-link-text">
					<img src="img/temp4.png" class="game-icon">
					<span class="title">Powerball</span>
				</span>
			</a>
		</li>
		<li class="ac-gn-item ac-gn-item-menu">
			<a  href="javascript:">
				<span class="ac-gn-link-text">
					<img src="img/temp5.png" class="game-icon">
					<span class="title">More Lotteries</span>
				</span>
			</a>
		</li>
	</ul>
</div>
