@keyframes slide-left {
    0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
    }
 	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
 	}
}
.header-rect {
    border-radius: 5px;
    background: #990000;
    margin: 5px;
    height: 20px;
    padding: 15px;
    font-weight: bold;
    color: #FFF0F0;
}
.header-left{
    top: 15px;
}
.header-right{
	position: absolute;
	right: 20px;
    top: 15px;
}
.bet {
	padding: 5px;
	padding-left: 15px;
	transform: translateX(0);
	animation-name: slide-left;
	animation-duration: 0.6s;
	transition-timing-function:  animation-timing-function: cubic-bezier(0.42,0,0.58,1);
}

.bet-action {
	padding-left: 0 !important;
	padding-right: 0 !important;
	width: 24px !important;
}


.ball {
	border: 1px solid #929292;
	min-width: 22px;
	min-height: 22px;
	max-width: 22px;
	max-height: 22px;
	width: 22px;
	height: 20px;
	border-radius: 100px;
	text-align: center;
	padding: 4px;
	font-size: 14px;
    margin-right: 5px;
    margin-bottom: 10px;
	display: inline-table;
	box-sizing: content-box !important;
    line-height: 21px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
   	vertical-align: top;
}

.ball.selected {
	background: #83eeff;
}

.ball.disabled {
	background: gray;
}

.ball.slide-in {
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

.ball.power-ball {
	color: red;
	border: 1px solid #e40000;
	vertical-align: top;
}

.number-slots {
	padding: 10px;
	margin-left: 13px;
}

.panel-wrap {
    margin-top: 10px;
    width: 100%;
    margin: 0 10px;
}

.combo-play-info {
	padding: 10px !important;
}

.number-slots [type="checkbox"]:not(:checked),
.number-slots [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

.selected-text {
	text-align: right;
	color: #888888;
	font-size: 12px;
}

.action {
	position: absolute;
}

.action .md-button.md-icon-button {
	margin: 0;
}

.action.right {
    right: 15px;
    top: 12px;
}

.layout-row.selected-bets {
    display: block;
    padding-top: 17px;
}

.col-11 {
	width: 80%;
}

.quickpick-box {
	border: 1px dashed #999999;
	box-shadow: 0 0 0;
	background: transparent;
	border-radius: 5px;
}

.empty-slot-group {
	margin-left: -4px;
}

.md-soft-color {
    color: #777;
}
