@font-face {
    font-family: myriadsetpro;
    src: url(../fonts/myriad-set-pro_text.ttf);
}

@font-face {
    font-family: myriadsetprothin;
    src: url(../fonts/myriad-set-pro_thin.ttf);
}

@font-face {
    font-family: myriadsetprosemibold;
    src: url(../fonts/myriad-set-pro_medium.ttf);
}

@font-face {
    font-family: myriadsetprobold;
    src: url(../fonts/myriad-set-pro_medium.ttf);
}

button, select, html, textarea, input {
    font-family: myriadsetpro,Helvetica Neue,Helvetica,Arial,sans-serif !important;
    color: #535353;
}

html, body {
	background-color: #f2f2f2;
}

@keyframes slide-left {
    0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
    }
 	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
 	}
}

@-webkit-keyframes webkit-slide-left {
    0% {
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
    }
 	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
 	}
}

.header-rect {
    border-radius: 5px;
    background: #990000;
    margin: 5px;
    height: 20px;
    padding: 15px;
    font-weight: bold;
    color: #FFF0F0;
}
.header-left{
    top: 15px;
}
.header-right{
	position: absolute;
	right: 20px;
    top: 15px;
}
.bet {
	padding: 5px;
	padding-left: 15px;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
    -webkit-transition: all 0.6s; 
    transition: all 0.6s;
	
/*
		animation-name: slide-left;
	-webkit-animation-name: webkit-slide-left;
	
	-webkit-animation-duration: 0.6s;
	animation-duration: 0.6s;
	
	transition-timing-function:  animation-timing-function: cubic-bezier(0.42,0,0.58,1);
	-webkit-transition-timing-function:  animation-timing-function: cubic-bezier(0.42,0,0.58,1);*/
}

.bet.slide {
	-webkit-transform: translateX(0%);
	transform: translateX(0%);
}


.bet-action {
	padding-left: 0 !important;
	padding-right: 0 !important;
	width: 24px !important;
}

.md-button.bet-action:not([disabled]):hover {
	background: none;
}

.ball {
	border: 2px solid #e37f91;
	min-width: 25px;
	min-height: 25px;
	max-width: 25px;
	max-height: 25px;
	width: 27px;
	height: 25px;
	border-radius: 100px;
	text-align: center;
	padding: 4px;
	font-size: 18px;
	margin-right: 5px;
	display: inline-table;
	box-sizing: content-box !important;
	line-height: 26px;
	vertical-align: top;
	margin-bottom: 4px;
	outline: 0px solid transparent;
}

.ball.selected {
	background: #e6f6ff;
}

.ball.disabled {
	color: #c1c1c1;
	border-color: #c1c1c1;
}

.ball.slide-in {
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

.ball.power-ball {
	color: #fc345d;
	border: 2px solid #fc345d;
	vertical-align: top;
}

.number-slots {
	padding: 1px;
	margin-left: 13px;
}

.panel-wrap {
    margin-top: 10px;
    width: 100%;
    margin: 0 10px;
}

.combo-play-info {
	padding: 10px !important;
}

.number-slots [type="checkbox"]:not(:checked),
.number-slots [type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}

.selected-text {
	text-align: right;
	color: #888888;
	font-size: 12px;
}

.action {
	position: absolute;
}

.action .md-button.md-icon-button {
	margin: 0;
}

.action.right {
    right: 2px;
    top: 7px;
}

.layout-row.selected-bets {
    padding-top: 8px;
    border-bottom: 1px solid  #e3e3e3;
    display: table-cell;
    padding-left: 2px;
    padding-right: 0;
    padding-bottom: 4px;
    outline: 0px solid transparent;
}

.layout-row.selected-bets.first-row {
	 border-top: 1px solid  #e3e3e3;
}

.col-11 {
	width: 90%;
}

.quickpick-box {
	box-shadow: 0 0 0;
	background: transparent;
	border-radius: 5px;
}

.top-header {
	position: relative;
}

.powerball-header {
	font-family: myriadsetprobold;
	font-size: 24px;
	color: #fc345d;
    font-weight: 700;
}

.balance-header, .line-number {
    font-size: 17px;
    position: absolute;
    bottom: 3px;
    right: 0;
}



md-list.tickets-group {
	margin-bottom: 0;
	padding-bottom: 0;
}

.empty-slot-group {
	margin-left: -4px;
}

.md-soft-color {
    color: #777;
}

.md-button-block {
	width: 100%;
}

.md-icon-light svg {
   fill : #fff;
}

.md-icon-small svg {
	width: 75%;
}


.draw-group .md-button.groupX {
	min-width: 50px;
}

.duration-group .md-button.groupX {
	min-width: 43px;
}


.layout-margin.panel-padded {
	padding: 10px 20px;
}

.layout-row.md-no-pad {
	margin: 0;
	padding: 0;	
}

.layout-row.stake-group {
	margin-bottom: 30px;
}

.layout-row.md-row {
	margin-bottom: 0;
}



.layout-margin.offset-bottom {
	padding-bottom: 60px;
}

.label-md {
	font-size: 18px;
}



/* start material overrides */

md-card.md-default-theme, md-card {
	color: #535353;
}

.md-button.md-raised:not([disabled]) {
	box-shadow: 0 0 0 !important; 
}

.md-button.md-default-theme.md-raised, .md-button.md-raised {
    font-weight: 500;
    letter-spacing: 0;
    font-family: Myriad Set Pro,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: #0070c9;
    background: -webkit-linear-gradient(#42a1ec,#1f79c1);
    background: linear-gradient(#42a1ec,#1f79c1);
    border-color: #07c;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    display: inline-block;
    min-width: 30px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    text-align: center;
    white-space: nowrap;
}



md-checkbox {
	width: 20px;
}

md-checkbox.md-default-theme:not(.md-checked) .md-icon, md-checkbox:not(.md-checked) .md-icon {
    border-width: 1px;
    border-radius: 1px;
}

md-checkbox.md-default-theme.md-checked .md-icon, md-checkbox.md-checked .md-icon {
	background-color: #328fd9;
}

md-checkbox.md-default-theme:not(.md-checked) .md-icon, md-checkbox:not(.md-checked) .md-icon {
	border-color: #328fd9;
}

md-checkbox .md-container {
	margin-top: 5px;
}


.md-button.groupX {
    margin: 0;
    color: rgb(49, 46, 46);
    text-transform: none;
    font-weight: 400;
}

.md-button.groupX.active-highlight {
    background: -webkit-linear-gradient(#42a1ec,#1f79c1);
    background: linear-gradient(#42a1ec,#1f79c1);
    color: white;
}

.md-button.left {
    border-radius: 5px 0 0 5px;
     border: 1px solid #07c;
}

.md-button.middle {
    border-radius: 0;
    border-top: 1px solid #07c;
     border-bottom: 1px solid #07c;
     border-right: 1px solid #07c;

}

.md-button.right {
    border-radius: 0 5px 5px 0;
    border: 1px solid #07c;
    border-left: 0;
}

.md-button:not([disabled]):hover {
 	background: -webkit-linear-gradient(#42a1ec,#1f79c1);
    background: linear-gradient(#42a1ec,#1f79c1);
    color: white;
    transition: 0.3s;
}
/* end material overrides */
