.powerball-header {
	color: #BF8E0D;
}

.ball {
	border: 2px solid #FEC900;
	color: #815422;
}

.ball.powerballs {
   color: #815422;
   border: 2px solid #D5AD18;
}
.ball.powerballs.selected {
	border: 2px solid ##D5AD18;
	background: #fff0c2;
}

.ball.selected {
	background: #fff0c2;
}

.ball.power-ball {
	color: #815422;
	border: 2px solid #D5AD18;
	vertical-align: top;
}
